@model BerberYonetimSistemi.Models.Admin

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Admin</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminAdi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminAdi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminSoyadi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminSoyadi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdminTelefon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdminTelefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AdminId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
