@model IEnumerable<BerberYonetimSistemi.Models.Admin>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdminAdi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminSoyadi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminTelefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdminAdi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminSoyadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminTelefon)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AdminId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AdminId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AdminId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
